.env
.env.example
.env.prod
.git
.github
.gitignore
.terraform
.terraform.lock.hcl
.tfvars
DEPLOYMENT.md
Dockerfile
README.md
__pycache__
build_push_server_image.sh
create_db.sh
docker-compose-mssql.yml
docker-compose-server.yml
init-db.sql
init.sh
install_apps.yml
install_runner.sh
inventory.ini
main.tf
main.tf.bkp
rada-key
rada-key.pub
rada_server.pem
setup.sh.tpl
ssh-and-update.sh
terraform.tfstate
terraform.tfstate.backup
venv/


